<!DOCTYPE html>
<html>
  <head>
    <title>Cursorails5x</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Passou no layouts/adm</h1>
    <h2>Cabeçalho - adm</h2>
    <%= yield %>
    <h2>Rodapé - adm</h2>
  </body>
</html>
