<div id="<%= coin.id %>">

  <tr>
    <td>
      <%= coin.acronym %>
    </td>
    <td>
      <%= coin.description %>
    </td>
    <td>
      <%= image_tag coin.url_image, size: "30x30" %>
    </td>
    <td>
          <%= link_to "Show this coin", coin %>
    </td>
  </tr>

</div>
